body {
  display: flex;
  justify-content: center;
}
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  /* width: 50vw; */
}
.grid-element {
  height: auto;
  width: 10vw;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  background-color: rgba(254, 129, 129, 0.8);
}
.pokemon-image {
  width: 100%;
  height: auto;
}
.pokemon-name {
  text-align: center;
}
