:root {
  --border-color: rgb(208, 208, 208);
}
html {
  background: black;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  /* width: 50vw; */
}
.grid-element-container {
  width: 15vw;
}
.grid-element {
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  background-color: #5d737e;
  border-radius: 3px;
  border: var(--border-color) solid 2px;
  cursor: pointer;
}
.grid-element:hover {
  scale: 1.03;
}
.pokemon-image {
  width: 100%;
  height: auto;
  background: rgb(141, 141, 141);
  border: solid var(--border-color) 1px;
}

.pokemon-name {
  text-align: left;
  font-family: Ubuntu, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #ffef79;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.type-list-container {
  color: #f0f7ee;
  font-family: Lora, serif;
  font-size: 17px;
  font-weight: 400;
}
.type-list-container > div {
  padding: 7px 5px;
}
ul {
  text-transform: capitalize;
  list-style: none;
  padding-left: 10px;
}

.open-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: auto;
  width: 40vw;
  z-index: 1000;
}
.open-card:hover {
  scale: 1;
}
.close-button-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  display: none;
  cursor: pointer;
}
.open-card > .close-button-container {
  display: block;
}
.extra-info {
  display: none;
}
.open-card > .extra-info {
  display: block;
}
.atribute-name {
  color: #ffef79;
  font-weight: 500;
}

.open-card > .pokemon-name {
  text-align: center;
  font-size: 30px;
}
#search-bar-container {
  display: flex;
  padding: 20px 0px;
}
.search-bar-icon-container {
  background: white;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
#search-bar-container img {
  height: 23px;
  width: auto;
}
#search-bar {
  width: 50vw;
  height: 35px;
  border-radius: 10px 0px 0px 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  font-size: 20px;
}
#seach-bar:focus {
  outline: none;
}
